# Default ignored files
/.idea/
/learn-spring-cloud-alibaba-dependencies/learn-spring-cloud-alibaba-dependencies.iml
/learn-spring-cloud-alibaba-provider/learn-spring-cloud-alibaba-provider.iml
/learn-spring-cloud-alibaba-provider/target/
/learn-spring-cloud-alibaba-consumer/target/
/learn-spring-cloud-alibaba-consumer/learn-spring-cloud-alibaba-consumer.iml
/learn-spring-cloud-alibaba-dubbo/learn-spring-cloud-alibaba-dubbo.iml
/learn-spring-cloud-alibaba-dubbo/learn-spring-cloud-alibaba-dubbo-provider-api/learn-spring-cloud-alibaba-dubbo-provider-api.iml
/learn-spring-cloud-alibaba-dubbo/learn-spring-cloud-alibaba-dubbo-provider-service/learn-spring-cloud-alibaba-dubbo-provider-service.iml
/learn-spring-cloud-alibaba-dubbo/learn-spring-cloud-alibaba-dubbo-provider-service/target/
/learn-spring-cloud-alibaba-dubbo/learn-spring-cloud-alibaba-dubbo-provider-api/target/
/learn-spring-cloud-alibaba-dubbo/learn-spring-cloud-alibaba-dubbo-consumer/target/
/learn-spring-cloud-alibaba-dubbo/learn-spring-cloud-alibaba-dubbo-consumer/learn-spring-cloud-alibaba-dubbo-consumer.iml
/learn-spring-cloud-alibaba-oauth2/learn-spring-cloud-alibaba-oauth2.iml
/learn-spring-cloud-alibaba-oauth2/learn-spring-cloud-alibaba-oauth2-server/learn-spring-cloud-alibaba-oauth2-server.iml
/learn-spring-cloud-alibaba-oauth2/learn-spring-cloud-alibaba-oauth2-server/target/
